
<div class="container my-5">
<div class="container w-75 mx-auto mb-4 ">
  <div class="d-flex gap-5 ">
    <!-- Search -->
    <div class="flex-fill me-5  ">
      <div class="input-group input-group-lg  w-100 ">
        <input
          type="text"
          class="form-control bg-light"
          placeholder="Search members…"
          aria-label="Search members"
        >
        <button class="btn btn-outline-secondary" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>

    <!-- Add Member -->
    <div class="flex-fill ms-5">
      <a href="/members/create" class="btn btn-secondary btn-lg w-100"  [routerLink]="['..', 'create']">
        <i class="bi bi-person-plus-fill me-2"></i>
        Add Member
      </a>
    </div>
  </div>
</div>


  <div class="card bg-light mb-4 mx-auto w-75 position-relative" *ngFor="let member of members">
    <!-- Action buttons group -->
    <div class="position-absolute top-0 end-0 m-3 d-flex gap-2">

      <!-- Delete -->
      <button
        type="button"
        class="btn btn-danger btn-sm"
        title="Delete member"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
        </svg>
      </button>
    </div>

    <!-- Card content -->
    <div class="row g-0 align-items-center">
      <div class="col-auto p-4">
        <img src="assets/profile-icon.png"
             alt="user"
             class="rounded-circle mb-3"
             width="150"
        >
      </div>
      <div class="col p-4">
        <div class="card-body">
          <h4 class="card-title">{{ member.fullName }}</h4>
          <p class="card-text">{{ member.email }}</p>

          <a href="#" class="btn btn-outline-primary me-2 mb-2 " [routerLink]="['..', member.id, 'detail']">Details</a>
        </div>
      </div>
    </div>
  </div>


</div>
