/* styles.css */
.navbar {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

/* brand bigger */
.navbar .navbar-brand {
  font-size: 3rem;   /* was 1.75rem */
}

/* links bigger */
.navbar .nav-link {
  font-size: 1.75rem;  /* was 1.1rem */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
