<nav class="navbar bg-dark navbar-expand-lg sticky-top" data-bs-theme="dark">
  <div class="container-fluid">

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="books" routerLinkActive="active-link" class="nav-link">Books</a>
        </li>
        <li class="nav-item">
          <a routerLink="members" routerLinkActive="active-link" class="nav-link">Members</a>
        </li>
        <li class="nav-item">
          <a routerLink="loans" routerLinkActive="active-link" class="nav-link">Loans</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Librarian
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="active-link" routerLink="info">Info</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Logo + text -->
    <div class="d-flex flex-column align-items-center">
      <a routerLink="books" class="navbar-brand m-0 p-0" href="#">
        {{ 'TITLE' | translate }}
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
