<div class="container">
  <div class="d-flex flex-wrap justify-content-between align-items-center mt-3 mb-4 gap-2">
    <h2 class="mb-0">{{ 'BOOKS.ALL_BOOKS' | translate }}</h2>

    <div class="input-group" style="width: 360px; max-width: 100%; min-height:45px;">
      <input
        type="text"
        class="form-control"
        [placeholder]="'BOOKS.SEARCH_BAR' | translate"
        [(ngModel)]="query"
        (ngModelChange)="onQueryChange($event)"
      />
      <button class="btn btn-outline-secondary" type="button" (click)="clearQuery()" [disabled]="!query">
        ✕
      </button>
    </div>

    <!-- Hide for MEMBER -->
    <button class="btn btn-success btn-lg"
            [routerLink]="['..', 'create']"
            *ngIf="!isMember">
      {{ 'BOOKS.ADD_BOOK' | translate }}
    </button>
  </div>

  <!-- Empty state -->
  <div *ngIf="!loading && filteredBooks.length === 0" class="text-muted text-center my-5">
    {{ 'BOOKS.MATCH_ERROR' | translate }}“{{ query }}”.
  </div>

  <div class="row" *ngIf="filteredBooks.length > 0">
    <div class="col-md-4 mb-4" *ngFor="let book of filteredBooks">
      <div class="card h-100">
        <img
          *ngIf="book.id"
          class="card-img-top book-cover"
          [src]="coverUrl(book)"
          (error)="onImgError($event)"
          [alt]="book.title + ' cover'">

        <div class="card-body d-flex flex-column">
          <h5 class="text-center card-title">{{ book.title }}</h5>
          <p class="text-center card-text flex-grow-1">{{ book.author }}</p>
          <div class="text-center">
            <span class="badge  mb-3"
                  [ngClass]="book.available ? 'bg-success' : 'bg-danger'">
              {{ book.available ? ('BOOKS.AVAILABLE' | translate) : ('BOOKS.LOANED_OUT' | translate) }}
            </span>
          </div>

          <a [routerLink]="['..', book.id, 'detail']" class="btn btn-secondary mt-auto">
            {{ 'BOOKS.DETAILS' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
