<nav class="navbar bg-dark navbar-expand-lg sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Toggler first -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Your nav links stay on the left -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a routerLink="books"   class="nav-link">Books</a></li>
        <li class="nav-item"><a routerLink="members" class="nav-link ">Members</a></li>
        <li class="nav-item"><a routerLink="loans" class="nav-link ">Loans</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="info" href="#">Info</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Brand moved here, with ms-lg-3 for a bit of breathing room -->
    <a routerLink="books" class="navbar-brand ms-lg-3" href="#">
      Library System
    </a>
  </div>
</nav>

<router-outlet></router-outlet>



