<div class="d-flex flex-column min-vh-100">
  <main class="flex-fill">
    <div
      class="lang-fixed"
      [style.top.px]="langTop" [style.right.px]="langRight">

      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle d-flex align-items-center gap-2 rounded-3 shadow-sm"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="flag" [ngClass]="'flag-' + current.flag"></i>
          <span class="fw-semibold">{{ current.label }}</span>
        </button>

        <ul class="dropdown-menu bg-dark text-light lang-menu shadow border-0 rounded-3 p-2">
          <li *ngFor="let lang of languages">
            <button class="dropdown-item d-flex align-items-center justify-content-between gap-3 rounded-3"
                    (click)="setLang(lang.value)">
        <span class="d-flex align-items-center gap-2">
          <i class="flag" [ngClass]="'flag-' + lang.flag"></i>
          <span class="text-capitalize">{{ lang.native }}</span>
        </span>
            </button>
          </li>
        </ul>
      </div>

    </div>


<router-outlet></router-outlet>
  </main>



<footer class="bg-dark text-center text-light py-2 w-100" style="z-index:1030;">
    <div class="d-flex flex-column align-items-center">
      <img class="mb-2" src="assets/logo_nobg.png" alt="MyLibrary Logo" style="height: 40px;" />
      © 2025 MyLibrary
    </div>
  </footer>
</div>

